/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1000px; 
}

.container-narrow > hr {
  margin: 30px 0; 
}

footer {
  margin-top: 20px;
}

footer p{
  text-align: center;
}

.navbar .nav {
  float: right; }

/* posts index */
.post > h3.title {
  position: relative;
  padding-top: 10px; }

.post > h3.title span.date {
  position: absolute;
  right: 0;
  font-size: 0.9em; }

.post > .more {
  margin: 10px 0;
  text-align: left; }

/* post-full*/
.post-full .date {
  margin-bottom: 20px;
  font-weight: bold; }

/* tag_box */
.tag_box {
  list-style: none;
  margin: 10px 0 0 0;
  overflow: hidden; }

.tag_box li {
  line-height: 28px; }

.tag_box li i {
  opacity: 0.9; }

.tag_box.inline li {
  float: left; }

.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color: #555;
  border-radius: 3px;
  text-decoration: none;
  border: 1px dashed #cccccc; }

.tag_box a span {
  vertical-align: super;
  font-size: 0.8em; }

.tag_box a:hover {
  background-color: #e5e5e5; }

.tag_box a.active {
  background: #57A957;
  border: 1px solid #4c964d;
  color: #FFF; }

section {
  border: #D2D2D2 1px solid;
  padding: 0 5px;
  margin-bottom: 5px;
}

section h3 {
  font-size: 18px;
  border-bottom: #D2D2D2 1px solid;
  letter-spacing: 3px;
  height: 30px;
  margin-bottom: 4px;
}

.content {
  background-color: #fff;
  padding: 5px 20px;
  margin: 0 -20px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 1px 2px rgba(0,0,0,.15);
}

#sidebar ul {
	margin:0 0 10px 10px;
}
#sidebar li {
	background: url(../img/icons.gif) 0 -557px no-repeat;
	padding-left: 22px;
	list-style: none;
	margin-top: 5px;
}

